<h1>物件登録</h1>


<%= form_with(model: @property, local: true) do |form| %>
  <div class = properties_block >
    <div class="property_name">
      <%= form.label :物件名 %>
      <br>
      <%= form.text_field :name %>
    </div>
    <div class="property_rent">
      <%= form.label :賃料 %>
      <br>
      <%= form.text_field :rent %><span>円</span>
    </div>
      <div class="property_address">
      <%= form.label :住所 %>
      <br>
      <%= form.text_field :address %>
    </div>
    <div class="property_age">
      <%= form.label :築年数 %>
      <br>
      <%= form.text_field :age %><span>年</span>
    </div>
    <div class="property_note">
      <%= form.label :備考 %>
      <br>
      <%= form.text_area :note %>
    </div>
  </div>

  <%= form.fields_for :stations do | statdion | %>
    <p class=stations>最寄り駅1</p>
    <div class="station_route_name">
      <%= statdion.label :route_name, "路線名" %>
      <br>
      <%= statdion.text_field :route_name %>
    </div>
    <div class="station_station_name">
      <%= statdion.label :station_name, "駅名" %>
      <br>
      <%= statdion.text_field :station_name %>
    </div>
    <div class="station_time">
      <%= statdion.label :time, "徒歩分数" %>
      <br>
      <%= statdion.text_field :time %><span>分</span>
    </div>
    <p class=stations>最寄り駅2</p>
    <div class="station_route_name">
      <%= statdion.label :route_name, "路線名" %>
      <br>
      <%= statdion.text_field :route_name %>
    </div>
    <div class="station_station_name">
      <%= statdion.label :station_name, "駅名" %>
      <br>
      <%= statdion.text_field :station_name %>
    </div>
    <div class="station_time">
      <%= statdion.label :time, "徒歩分数" %>
      <br>
      <%= statdion.text_field :time %><span>分</span>
    </div>
  <% end %>

<%= form.submit :"登録する" %>
<% end %>

<%= link_to "戻る", properties_path %>