<div class = properties_block >
  <a class=property_item>物件名: </a><%= @property.name %>
  <br>
  <br>
  <a class=property_item>賃料: </a><%= @property.rent %>円
  <br>
  <br>
  <a class=property_item>住所: </a><%= @property.address %>
  <br>
  <br>
  <a class=property_item>築年数 </a><%= @property.age %>年
  <br>
  <br>
  <a class=property_item>備考 </a><%= @property.note %>
</div>

<% @property.stations.each_with_index do |station, i| %>
    <p class=stations ><%= "最寄り駅 #{i+= 1}" %></p>
    <div class= station_form>
      <a class=item>路線名 </a><%= station.route_name %>
      <br>
      <br>
      <a class=item>駅名 </a><%= station.station_name %>
      <br>
      <br>
      <a class=item>徒歩分数 </a><%= station.time %>分
    </div>
 <% end %>
<br>
<br>

<%= link_to '編集', edit_property_path(@property) %>
<a>|</a>
<%= link_to "戻る", properties_path %>